# ====== Structure files ======
/public/storage
/vendor
dist/
test/e2e/reports
test/unit/coverage

# ====== Basic ======
.DS_Store
.idea

# ====== Logs ======
*.log
composer.lock
logs
npm-debug.log*
selenium-debug.log
yarn-debug.log*
yarn-error.log*

# ====== Dependency directories ======
jspm_packages
node_modules/

# ====== Optional npm cache directory ======
.npm
Homestead.json
Homestead.yaml
prepros.cfg

# ====== Optional REPL history ======
.env
.node_repl_history
