.c-ger-link
  color: inherit
  display: inline
  text-decoration: none
  a
    color: inherit
    display: inline
    text-decoration: none
  a:hover
    color: $color-primary

.c-ger-link--underline
  a:hover
    text-decoration: underline

.c-ger-link--primary
  color: $color-primary

  a:hover
    text-decoration: underline
    color: inherit
