/*------------------------------------*\
  #Project settings
\*------------------------------------*/

$color-primary    = #FE0001
$color-secondary  = darken(#8E8E8E, 8%)
$color-tertiary   = lighten(#353535, 12%)
$color-text       = lighten(#353535, 12%)
