/*------------------------------------*\
#Media Queries
\*------------------------------------*/

$mobile             = 0px
$small-tablet       = 600px
$tablet             = 799px
$desktop            = 1023px
//
$mobile-max         = 600px
$small-tablet-max   = 800px
$tablet-max         = 1024px
$desktop-max        = 9999px
